
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/login.css" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        .centered-container {
            width: 300px;
            margin: 0 auto;
            padding: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            border-radius: 5px;
            text-align: center;
        }

        h1 {
            margin-bottom: 20px;
        }

        form {
            width: 100%;
        }

        .input-group {
            width: 100%;
            margin-bottom: 20px;
            text-align: left;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input[type="text"],
        input[type="password"] {
            box-sizing: border-box;
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        button {
            width: 100%;
            padding: 10px;
            background-color: #0078d4;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #0056b3;
        }

        .incorrect-pass-user {
            color: red;
            opacity: 0;
            transition: opacity 0.2s 
        }


    </style>
</head>
<body>
    <div class="container">
        <div class="centered-container">
            <h1>Login</h1>
            <form>
                <p id="message" class="incorrect-pass-user">Username or password incorrect</p>
                <div class="input-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="input-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
<script>

    const loginForm = document.querySelector('form');
    loginForm.addEventListener('submit', async (e) => {
        e.preventDefault(); 

        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;

        const data = { username, password };

        try {
            const response = await fetch('/auth/demo-login/submit', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data), 
            });
            if (response.ok) {
                window.location.href = '/';
            } else {
                const message = document.getElementById("message");
                message.style.opacity = "1";

                passwordInput = document.getElementById("password");
                passwordInput.addEventListener("keydown", function(){
                    message.style.opacity = "0";
                });
                console.error('Authentication failed');
            }
        } catch (error) {
            console.error('Error:', error);
        }
    });
</script>
</html>

