<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <title>Login to CLE Resource Binder</title>
</head>
<body>
    <div class="container">
        <div class="centered-container">
            <h2 class="centered-text">Crisis Connections is a Microsoft&reg; family.</h2>
            <h3 class="centered-text">Click the image below to login with Microsoft Account.</h3>
            <a href="/auth/microsoft">
                <img src="/assets/ms-symbol_signin_light.svg" alt="Microsoft Logo Login Symbol" class="centered-image" onclick="">
            </a>
            <p></p>
            <a href="/auth/demo-login">login with username and password (for demo only)</a>
        </div>
    </div>
</body>
</html>
